.header-wrapper{
    background-image: linear-gradient(to right, #042a4a , #385574);
    color: #fff;

    .left-side{
        .title{
            display: inline-block;
            font-weight: 600;
            font-size: 16px;
            padding: 0 10px;
        }
        .user-icon{
            font-weight: 600;
            font-size: 16px;
            padding: 0 10px;
            float: right;
            cursor: pointer;
        }
    }
}
#menu-button{
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
    opacity: 0;
    width: 0px;
    cursor: pointer;
}

.layout-mask {
    z-index: 9998;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 51px;
    left: 0;
    visibility: hidden; 
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: #4c5254;
}

.layout-mask-active {
    visibility: visible;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    
}

@media screen and (max-width: 1000px) {
    #menu-button{
        width: 100%;
        position: static;
        opacity: 1;
        transition: opacity 0.3s linear;
    }
}

@media screen and (min-width: 1000px) {
    .layout-mask-active {
        display: none;
    }
}