<div class="header-wrapper">
    <div class="left-side">
        <a id="menu-button">
            <fa-icon [icon]="faBars" id="menu-icon" (click)="this.menuService.toggleMenuVisibility()"></fa-icon>
        </a>
        <label class="title">- = PostR = -</label>
        <fa-icon [icon]="faUser" class="user-icon" (click)="this.toggleLogin()"></fa-icon>
        <label class="user-icon">{{ user?.email }}</label>
    </div>
</div>
<div class="layout-mask" [className]="this.menuActive? 'layout-mask layout-mask-active' : 'layout-mask'"
    (click)="this.menuService.toggleMenuVisibility()"></div>