.item-container{
      background-color: whitesmoke;
      width: 300px;
      border: 1px solid #66c2ff;
      border-radius: 9px;
      padding: 19px;
      box-shadow: 1px 2px 7px -1px rgba(0, 0, 0, 0.75);
      transition: all 500ms ease-in-out;
      transition: all 500ms linear;
      cursor: pointer;
  }
  .item-container:hover{
      border: 1px solid #66c2ff;
      box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.75);
      background-color: #e5eaf0;
      transition: all 100ms ease-in-out;
  }
  .item-title{
      transition: all 100ms ease-in-out;
  }
  .item-detail{
      color:rgba(0,0,0,0.5);
      font-size:12px;
      float: right;
      margin-bottom: 10px;
  }
  .timestamp{
      color: #8D8D8D;
      position: absolute;
      width:100px;
      left: -137px;
      text-align: right;
      font-size: 12px;
  }
  
  .div-button {
      display:inline-block;
      color:#444;
      border:1px solid #CCC;
      background:#DDD;
      box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
      cursor:pointer;
      vertical-align:middle;
      max-width: 100px;
      padding: 5px;
      text-align: center;
      margin-top: 19px;
  }
  .div-button:active {
      color:red;
      box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
  }
  .button-right{
      float: right;
      margin-right: -29px;
  }