<div class="timestamp">
    {{  post.data.submitDate.toDate() | date:'yyyy.MM.dd'  }}<br>
    {{  post.data.submitDate.toDate() | date:'HH.mm'  }}
</div>
<div class="item-container" [@fadeInOut]="post.dbState">
    <div>
        <div class="item-title">{{ post.data.text }}</div>
        <div class="item-detail">{{ userEmail }}</div>
    </div>
    <div>
        <div *ngIf="this.userState">
            <div class="div-button button-left" (click)="this.delItem($event, post.id)">
                Töröl
            </div>
            <div class="div-button button-right" (click)="this.updateItem(post.id, post.data.submitDate)">
                Szerkeszt
            </div>
        </div>
    </div>
</div>