<link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
<div class="history-tl-container" id="postListContainer">
    <ul class="tl">
        <li *ngFor="let post of posts; let i = index; trackBy: trackPosts" class="tl-item">
            <app-post [post]="post"></app-post>
        </li>
    </ul>
    <div class="frame-item-container" *ngIf="this.userState">
        <div class="item-container new-item">
            <span class="ui-float-label span-flex">
                <input type="text" id="email" size="30" pInputText (keyup.enter)="this.addItem($event)">
                <label for="email" class="my-label">Poszt</label>
            </span>
        </div>
    </div>
    <div class="add-post" *ngIf="this.userState">
        <button class="add-post-btn">Hozzáad</button>
    </div>
</div>