
.history-tl-container{
  font-family: "Roboto",sans-serif;
  margin:auto;
  display:block;
  position:relative;
}
.history-tl-container ul.tl{
    margin:20px 0;
    padding:0;
    display:inline-block;
}
.history-tl-container ul.tl li{
    list-style: none;
    margin:auto;
    margin-left: 110px;
    min-height:50px;
    border-left:1px dashed #86D6FF;
    padding:0 0 50px 30px;
    position:relative;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #258CC7;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;

}
.history-tl-container ul.tl li:hover::before{
    border-color:  #258CC7;
    transition: all 500ms ease-in-out;
}
.add-post{
    width: 100%;
    text-align: center;
    border-top: 1px dashed #86D6FF;
    .add-post-btn{
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        cursor: pointer;
        border: 1px dotted #1c6ea4;
        border-radius: 0px 0px 7px 7px;
        background-color: rgba(28, 110, 164, 0.2);
        color: #042BB5;
    }
}
.myForm{
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s linear 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    position: relative;
    z-index: 444;
    padding-top: 5em;
    .formSubmitButton{
        float: right;
    }
}
.item-container{
    background-color: whitesmoke;
    width: 400px;
    height: 100px;
    border: 1px dotted #66c2ff;
    border-radius: 9px;
    padding: 19px;
    box-shadow: 1px 2px 7px -1px rgba(0, 0, 0, 0.75);
    transition: all 500ms ease-in-out;
    transition: all 500ms linear;
    cursor: pointer;
}
.item-title{
    transition: all 100ms ease-in-out;
}
.item-detail{
    color:rgba(0,0,0,0.5);
    font-size:12px;
    float: right;
    margin-bottom: 10px;
}
.t
.div-button {
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
    padding: 5px;
    text-align: center;
    margin-top: 19px;
}
.div-button:active {
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}
.button-right{
    float: right;
    margin-right: -29px;
}
.frame-item-container{
    justify-content: center;
    display: flex;
}
.span-flex{
    justify-content: center;
    display: flex;
}
.my-label{
    left: unset;
}
.new-item{
    height: unset;
}