<div class="app-wrapper">
    <app-header class="header"></app-header>
    <div class="content-wrapper">
        <app-menu [className]="this.menuActive ? 'menu activated' : 'menu'"></app-menu>
        <div class="content">
            <router-outlet class="outlet">
                <div class="background"></div>
            </router-outlet>
        </div>
    </div>
</div>