.app-wrapper {
    height: 100vh;
  //  width: 100vw;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    background-image: url('./styles/images/background.svg');
    .header {
        display: block;
        height: 50px;
        line-height: 50px;
        flex: 0 0 50px;
        opacity: 0.96;
    }

    .content-wrapper {
        display: flex;
        height: calc(100% - 50px);
        .activated{
            left: 0px;
        }
        .menu{
            position: relative;
            left: 0;
            background-image: linear-gradient(#042a4a , #385574);
            overflow-x: hidden;
            overflow-y: auto;
            width: 300px;
            box-shadow: 1px 2px 9px -2px #999;
            z-index: 9999;
            height: 100%;
            transition: left 0.2s;
            opacity: 0.96;
        }
        .background{
            position: fixed;
            width: 100%;
            height: 100%;
            content: " ";
            background: whitesmoke;
            opacity: 0.9;
            z-index: 0;
        }
        .content {
            flex: 1 1 auto;
            overflow: auto;
        }
    }
}

@media screen and (max-width: 1000px) {
    .app-wrapper {
        .content-wrapper {
            .menu{
                position: fixed;
                left: -300px;
                -webkit-transition: left 0.2s;
                transition: left 0.2s;
                width: 150px;
            }
            .activated{
                left: 0px;
            }
        }
    }
}

