<div class="menu-wrapper" [ngClass]="{'active': menuActive}" id="menu">
    <div *ngFor=" let menuItem of menuList">
        <app-menu-item [menuItem]="menuItem" (click)="this.menuService.toggleMenuVisibility()"></app-menu-item>
    </div>
</div>