@import "app/styles/global-variables.scss";

.menu-item-wrapper {
    color: #fff;
    display: flex;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border-bottom: 1px solid #2a4865;
    cursor: pointer;
    transition: background-color 0.5s ease;
    
    &:hover {
        background-color: $secondary-color-light;
    }

    .icon {
        flex: 0 0 40px;
    }

    .name {
        flex: 1 1 auto;
    }
}
