<div class="myForm" [style.opacity]="fadeInOpacity">
    <div id="formLoadingBackground" [class]="backgroundClassList">
        <div class="ui-grid">
            <div class="ui-g-6">
                Felhasználónév
            </div>
            <div class="ui-g-6">
                <b>{{ user?.displayName ? user?.displayName : '-' }}</b>
            </div>
            <div class="ui-g-6">
                Email cím
            </div>
            <div class="ui-g-6">
                <b>{{ user?.email }}</b>
            </div>
            <div class="ui-g-6">
                Felhasználó azonosító
            </div>
            <div class="ui-g-6">
                <b>{{ user?.uid }}</b>
            </div>
            <div class="ui-g-6">
                Email cím megerősített?
            </div>
            <div class="ui-g-6">
                <b>{{ user?.emailVerified == true? 'Igen' : 'Nem' }}</b>
            </div>
            <div class="ui-g-6">
                Telefonszám
            </div>
            <div class="ui-g-6">
                <b>{{ user?.phoneNumber ? user?.phoneNumber : '-'}}</b>
            </div>
            <div class="ui-g-6">
                <button class="ui-button-alert" (click)="logOut()" pButton label="Jelenkezz ki!"></button>
            </div>
            <div class="ui-g-6">
                <button class="ui-button-info formSubmitButton" (click)="onSubmit(this.userForm.value)" pButton
                    label="Ments!"></button>
            </div>
        </div>
    </div>
</div>