<form [formGroup]="userForm" class="myForm" [style.opacity]="fadeInOpacity">
    <div id="formLoadingBackground" [class]="backgroundClassList">
        <div id="formLoadingOpacity" class="formLoadingOpacity">
            <h3 class="first">Bejelentkezés</h3>
            <div class="ui-g-6 ui-md-12 userDataRow">
                <span class="ui-float-label">
                    <input type="text" id="email" formControlName="username" size="30" pInputText
                        pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$">
                    <label for="email">Email cím</label>
                </span>
                <p-message severity="error" text="Email kitöltése kötelező"
                    *ngIf="this.userForm.controls.username.errors?.required && this.userForm.controls.username.dirty">
                </p-message>
                <p-message severity="error" text="Email formátuma hibás"
                    *ngIf="this.userForm.controls.username.errors?.pattern && this.userForm.controls.username.dirty">
                </p-message>
                <p-message severity="error" text="Ezzel az email címmel nincs regisztált felhasználó!"
                    *ngIf="this.loginErrorCode == 'auth/user-not-found' && this.userForm.controls.username.pristine">
                </p-message>
            </div>
            <div class="ui-g-6 ui-md-12 userDataRow">
                <span class="ui-float-label">
                    <input type="password" id="password" formControlName="password" size="30" pInputText>
                    <label for="password">Jelszó</label>
                </span>
                <p-message severity="error" text="Jelszó kitöltése kötelező"
                    *ngIf="this.userForm.controls.password.errors?.required && this.userForm.controls.password.dirty">
                </p-message>
                <p-message severity="error" text="Hibás jelszó!"
                    *ngIf="this.loginErrorCode == 'auth/wrong-password' && this.userForm.controls.password.pristine">
                </p-message>
            </div>
            <div class="ui-grid">
                <div class="ui-g-6">
                    <a [routerLink]="['/Register']">Regisztráció</a>
                </div>
                <div class="ui-g-6">
                    <button class="ui-button-info formSubmitButton" (click)="onSubmit(this.userForm.value)" pButton
                        [disabled]="!this.userForm.valid" label="Login"></button>
                </div>
            </div>
        </div>
    </div>
</form>